<div ng-show="!readMode" class="{{rowClass}}" ng-class="{'has-error': hasError,'has-feedback': hasError}">
    <div class="{{colClass.field}}" uib-popover="{{errorMessage}}" popover-trigger="'mouseenter'" popover-placement="{{errorPlacement}}" popover-enable="hasError">
        <span ng-show="isLoading"><i class="fa fa-spinner fa-pulse fa-fw fa-span"></i></span>

        <div class="checkbox" ng-show="!isLoading">

            <label 
                unselectable="on" 
                class="unselectable" 
                for="{{type.name}}-{{$id}}"
                data-ng-repeat="type in data">
                    <input 
                        type="checkbox" 
                        checked="type.checked"
                        name="{{type.name}}-{{$id}}" 
                        id="{{type.name}}-{{$id}}" 
                        value="{{type.id}}"
                        ng-model="dataHelp[$index].isChecked"
                        ng-click="selectionChanged($event, type)" 
                    /> 
                    <span
                        class="checkboxItem"
                    >{{type.name}}</span>
            </label>
        </div>
    </div>
</div>
<div ng-show="readMode" class="{{rowClass}}">
    <div  class="{{colClass.field}}">
        <span 
            class="form-label-text checkboxItem"
            ng-class="{unselected: !dataHelp[$index].isChecked}"
            data-ng-repeat="type in data"
        >
            {{type.name}}
        </span>
    </div>
</div>