<div ng-show="!readMode" class="{{rowClass}}" ng-class="{'has-error': hasError,'has-feedback': hasError}">
    <div class="{{colClass.field}}" uib-popover="{{errorMessage}}" popover-trigger="'mouseenter'" popover-placement="{{errorPlacement}}" popover-enable="hasError">
        <span ng-show="isLoading"><i class="fa fa-spinner fa-pulse fa-fw fa-span"></i></span>

        <div class="checkbox" ng-show="!isLoading">
            <label 
                unselectable="on" 
                class="unselectable"
                style="line-height: 40px;"
                for="{{id}}-{{$id}}">
                    <input 
                        type="checkbox"
                        name="{{id}}-{{$id}}" 
                        id="{{id}}-{{$id}}" 
                        ng-model="ngModel"
                    /> 
                    <span
                        class="checkboxItem"
                    ></span>
            </label>
        </div>
    </div>
</div>
<div ng-show="readMode" class="{{rowClass}}">
    <div  class="{{colClass.field}}">
        <span class="form-label-text" ng-if="ngModel">Yes</span>
        <span class="form-label-text" ng-if="!ngModel">No</span>
    </div>
</div>