<div class="{{rowClass}}" ng-class="{'has-error': hasError,'has-feedback': hasError}">
    <div ng-show="!readMode" class="{{colClass.field}}" uib-popover="{{errorMessage}}" popover-trigger="'mouseenter outsideClick'"
        popover-placement="{{errorPlacement}}" popover-enable="hasError">
        <cwt-date-picker data-placeholder="mm/dd/yyyy" data-has-error="hasError" ngDisabled="ngDisabled" data-date-picker-model="ngModel"
            data-date-picker-output-model="outputModel"></cwt-date-picker>
    </div>
    <span class="form-label-text" ng-show="readMode">{{(outputModel | date : 'dd MMM yyyy' : 'UTC') || "-" }}</span>

</div>