<form  ng-disabled="true" novalidate autocomplete="off" ng-class="{'not-active':notActive}">
    <div class="clearfix">
        <div ng-show="saving || isLoading" class="saving-overlay"><i class="fa fa-spinner fa-spin fa-2x saving-spinner" aria-hidden="true"></i></div>
        <ng-transclude></ng-transclude>
    </div>
    <div ng-show="!readMode" class="form-footer">
        <button class="btn btn-primary form-footer-button-save" ng-click="saveChanges()" ng-disabled="saving || !this[name].$dirty">Save</button>
        <button class="btn btn-primary form-footer-button-reset" ng-click="resetForm()" ng-disabled="saving || !this[name].$dirty">Reset</button>
        <button class="btn btn-primary form-footer-button-cancel" ng-disabled="saving || required" ng-click="cancelForm()">Cancel</button>
        <button class="btn btn-primary" ng-show="false" ng-click="undoChanges()" ng-disabled="index < 0">Undo</button>
        <button class="btn btn-primary" ng-show="false" ng-click="redoChanges()" ng-disabled="index != originalObject.objecList.length - 1">Redo</button>
    </div>
</form>