<div ng-show="!readMode" ng-class="{'has-error': hasError,'has-feedback': hasError}" class="{{rowClass}}">
  <div class="{{colClass.field}}" uib-popover="{{errorMessage}}" popover-trigger="'mouseenter'" popover-placement="{{errorPlacement}}" popover-enable="hasError">
    <input maxlength="255" type="text" id="{{name}}" name="{{name}}" class="form-control" placeholder="{{placeholder}}" ng-disabled="ngDisabled" ng-model="ngModel"/>
  </div>
</div>
<div ng-show="readMode" class="{{rowClass}}">
  <div ng-show="ngModel && !ngModelPropertie" class="{{colClass.field}} form-label-text">
    {{ngModel}}
  </div>
  <div ng-show="ngModel && ngModelPropertie"  class="{{colClass.field}} form-label-text">
    {{ngModelWithPropertie()}}
  </div>
  <div ng-show="!ngModel" class="form-label-text {{colClass.field}}">
    -
  </div>
</div>
