<div
  class="layer-field"
  style="border: 0px; padding: 0px;"
  ng-class="{'layer-error': hasError,'has-feedback': hasError}"
  uib-popover="{{errorMessage}}"
  popover-trigger="'mouseenter'"
  popover-placement="{{errorPlacement}}"
  popover-enable="hasError"
>
  <table class="table table-striped" style="background: #fff;">
    <tbody>
      <tr ng-repeat="inflectionPoint in ngModel track by inflectionPoint.id" class="row">
        <td class="col-md-6" >
          <cwt-number-field-text
              ng-hide="readMode"
              row-class="form-group row"
              col-class="{label:'col-md-4', field:'col-md-11'}"
              data-ng-model="inflectionPoint.target"
              placeholder=""
              addon="{{targetAddon}}"
              focus-fn="selectRow(inflectionPoint.id)"
              keep-focus
              row-id="{{inflectionPoint.id}}"
              selected-row-id="{{selectedRowId}}"
              index="{{$index}}"
          >
          </cwt-number-field-text>
          <span
            ng-show="readMode"
            ng-bind="inflectionPoint.target"
          ></span><span
            ng-show="readMode"
          >&nbsp;</span><span
            ng-show="readMode"
            ng-bind="targetAddon"
          ></span>
        </td>

        <td class="col-md-5">
          <cwt-number-field-text
              ng-hide="readMode"
              row-class="form-group row"
              col-class="{label:'col-md-4', field:'col-md-12'}"
              data-ng-model="inflectionPoint.rebate"
              placeholder=""
              addon="{{rebateAddon}}"
          >
          </cwt-number-field-text>
        
          <span
            ng-show="readMode"
            ng-bind="inflectionPoint.rebate"
          ></span><span
            ng-show="readMode"
          >&nbsp;</span><span
            ng-show="readMode"
            ng-bind="rebateAddon"
          ></span>
        </td>
        <td class="col-md-1">
          <button
            type="button"
            class="btn btn-danger"
            name="button"
            ng-hide="readMode"
            ng-click="remove(inflectionPoint)" style="width:10px"
          >
            <i style="color:white;margin-left: -7px;" class="fa fa-trash-o remove-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button  
      ng-hide="readMode"
      type="button"
      class="btn btn-success"
      ng-click="addModel()"
      ng-disabled="hasNew()"
    >
      <i class="fa fa-plus"></i>
      Add Inflection Point
    </button>
  </div>
</div>
