<div
  class="layer-field"
  ng-class="{'layer-error': hasError,'has-feedback': hasError}"
  uib-popover="{{errorMessage}}"
  popover-trigger="'mouseenter'"
  popover-placement="{{errorPlacement}}"
  popover-enable="hasError"
>
  <table class="table table-striped" style="background: #fff;">
    <thead>
      <tr class="row">
        <th class="col-md-5">{{targetLabel}} (from value)</th>
        <th class="col-md-5">{{rebateLabel}}</th>
        <th class="col-md-2">&nbsp</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="layer in ngModel track by layer.id" class="row">
        <td class="col-md-5" >
          <cwt-number-field-text
              ng-hide="readMode"
              row-class="form-group row"
              col-class="{label:'col-md-4', field:'col-md-10'}"
              data-ng-model="layer.from"
              placeholder=""
              addon="{{targetAddon}}"
              focus-fn="selectRow(layer.id)"
              keep-focus
              row-id="{{layer.id}}"
              selected-row-id="{{selectedRowId}}"
              index="{{$index}}"
          >
          </cwt-number-field-text>
          <span
            ng-show="readMode"
            ng-bind="layer.from"
          ></span><span
            ng-show="readMode"
          >&nbsp;</span><span
            ng-show="readMode"
            ng-bind="targetAddon"
          ></span>
        </td>

        <td class="col-md-5">
          <cwt-number-field-text
              ng-hide="readMode"
              row-class="form-group row"
              col-class="{label:'col-md-4', field:'col-md-10'}"
              data-ng-model="layer.rebate"
              placeholder=""
              addon="{{rebateAddon}}"
          >
          </cwt-number-field-text>
        
          <span
            ng-show="readMode"
            ng-bind="layer.rebate"
          ></span><span
            ng-show="readMode"
          >&nbsp;</span><span
            ng-show="readMode"
            ng-bind="rebateAddon"
          ></span>
        </td>
        <td class="col-md-2">
          <button
            type="button"
            class="btn btn-danger"
            name="button"
            ng-hide="readMode"
            ng-click="remove(layer)"
          >
            <i style="color:white;" class="fa fa-trash-o remove-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button  
      ng-hide="readMode"
      type="button"
      class="btn btn-success"
      ng-click="addModel()"
      ng-disabled="hasNew()"
    >
      <i class="fa fa-plus"></i>
      Add Layer
    </button>
  </div>
</div>
