<div ng-show="!readMode" ng-class="{'has-error': hasError,'has-feedback': hasError}" class="{{scope.rowClass}} form-group">
  <div class="{{colClass.field}}" uib-popover="{{errorMessage}}" popover-trigger="'mouseenter'" popover-placement="{{errorPlacement}}" popover-enable="hasError">
    <cwt-multi-select
      name="{{name}}"
      id="{{id}}"
      source="source" 
      ng-model="ngModel"
      empty-text="{{emptyText}}"
      readonly-mode="readMode"
      col-class ="colClass"
      hide-select-all="hideSelectAll"
      display-location="{{displayLocation}}"
      loading-data="isLoading"
      display-property="{{displayProperty}}"
      show-searchbar="showSearchbar"
      select-all-label="{{selectAllLabel}}"
			all-selected="allSelected"
			select-all-message="{{selectAllMessage}}"
      isflat="{{isflat}}"
    >
    </cwt-multi-select>
  </div>
</div>
<div ng-show="readMode" class="{{rowClass}}">
  <div ng-show="ngModel" ng-show="!ngModelPropertie" class="{{colClass.field}} form-label-text">
    <span ng-if="allSelected">{{selectAllMessage}}</span>
    <cwt-multi-select 
      ng-show="!allSelected"
      source="source" 
      ng-model="ngModel"
      readonly-mode="readMode"
      col-class ="colClass"
      hide-select-all="hideSelectAll"
      empty-text="{{emptyText}}"
      loading-data="isLoading"
      name="{{name}}"
      id="{{id}}"
      display-property="{{displayProperty}}"
      show-searchbar="showSearchbar"
      select-all-label="{{selectAllLabel}}"
			all-selected="allSelected"
			select-all-message="{{selectAllMessage}}"
      isflat="{{isflat}}"
    >
    </cwt-multi-select>
  </div>
</div>