<div style="margin:0px" ng-show="!readMode" ng-class="{'has-error': hasError,'has-feedback': hasError}" class="{{rowClass}}">
  <div class="input-group cwt-number-input-field" ng-class="colClass.field" uib-popover="{{errorMessage}}" popover-trigger="'mouseenter'" popover-placement="{{errorPlacement}}" popover-enable="hasError">
    <input ng-change="ngChangefire()" ng-class="{'no-add-on': !(addon && addon.length > 0)}" restrict-input="/^[0-9]{1,14}(.[0-9]{1,4})?$/" type="text" id="{{name}}" name="{{name}}" class="form-control" placeholder="{{placeholder}}" ng-disabled="ngDisabled" ng-model="ngModel" ng-focus="focusFn()"/>
    <span ng-show="showAddon()" class="input-group-addon">{{addon}}</span>  
  </div>
</div>
<div ng-show="readMode" class="{{rowClass}}">
  <div ng-show="(ngModel || ngModel === 0) && !ngModelPropertie" class="{{paddingLeft ? '' : colClass.field}} form-label-text">
    {{ngModel}} {{addon}}
  </div>
  <div ng-show="(ngModel || ngModel === 0) && ngModelPropertie"  class="{{paddingLeft ? '' : colClass.field}} form-label-text">
    {{ngModelWithPropertie()}} {{addon}}
  </div>
  <div ng-show="!(ngModel || ngModel === 0) " class="form-label-text {{paddingLeft ? '' : colClass.field}}">
    -
  </div>
</div>