<div class="form-group"class="{{rowClass}}" ng-class="{'has-error': hasError,'has-feedback': hasError}">
    <div ng-show="!readMode" class="{{colClass.field}}"  uib-popover="{{errorMessage}}" popover-trigger="'mouseenter'" popover-placement="{{errorPlacement}}" popover-enable="hasError">
        <span ng-show="isLoading"><i class="fa fa-spinner fa-pulse fa-fw fa-span"></i></span>

        <div class="checkbox" ng-show="!isLoading">

            <label 
                unselectable="on" 
                class="unselectable" 
                style="padding-left: 0px;"
                for="{{type.name}}-{{$id}}"
                data-ng-repeat="type in data">
                    <input 
                        type="radio" 
                        name="{{name}}" 
                        id="{{type.name}}-{{$id}}"
                        ng-model="$parent.ngModel"
                        ng-value="type"
                        ng-click="selectionChanged($event, type)" 
                    /> 
                    <span
                        class="checkboxItem"
                    >
                        {{type.name}}
                    </span>
            </label>
        </div>
    </div>
    <div ng-show="readMode" class="{{rowClass}}">
        <div ng-show="ngModel" class="{{colClass.field}} form-label-text">
            <span 
            ng-show="readMode"
            class="form-label-text checkboxItem"
            ng-class="{unselected: !dataHelp[$index].isChecked}"
            data-ng-repeat="type in data"
            >
                {{type.name}}
            </span>
        </div>
    </div>
</div>