<div ng-show="!readMode" class="{{rowClass}}" ng-class="{'has-error': hasError,'has-feedback': hasError}">
  <div  class="{{colClass.field}}" uib-popover="{{errorMessage}}" popover-trigger="'mouseenter'" popover-placement="{{errorPlacement}}" popover-enable="hasError">
    <div ng-show="isLoading"><span class="form-control dropdown-loader"><i class="fa fa-spinner fa-pulse fa-fw"></i></span></div>
    <div ng-show="!isLoading">
      <select
        id="{{name}}"
        name="{{name}}"
        class="form-control"
        ng-model="ngModel"
        ng-disabled="ngDisabled"
        ng-options="{{options}}">
        <option ng-if="defaultOption !== undefined" hidden value="">{{defaultOption}}</option>
      </select>
    </div>
  </div>
</div>
<div ng-show="readMode" class="{{rowClass}}">
  <div ng-show="ngModel && !ngModelProperty" class="{{colClass.field}} form-label-text">
    {{ngModel}}
  </div>
  <div ng-show="ngModel && ngModelProperty" class="{{colClass.field}} form-label-text">
    <span ng-show="isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
    <span ng-if="!isLoading">{{ngModelWithProperty()}}</span>
  </div>
  <div ng-show="!ngModel" class="{{colClass.field}} form-label-text">
    -
  </div>
</div>
