<div ng-show="!readMode" class="{{rowClass}}" ng-class="{'has-error': hasError,'has-feedback': hasError}">
  <div class="{{colClass.field}}" uib-popover="{{errorMessage}}" popover-trigger="'mouseenter'" popover-placement="{{errorPlacement}}" popover-enable="hasError">
    <textarea class="form-control" placeholder="{{placeholder}}" ng-disabled="ngDisabled" ng-model="ngModel">
        
    </textarea>
  </div>
</div>
<div ng-show="readMode" class="{{rowClass}}">
  <div ng-show="ngModel" class="{{colClass.field}} form-label-text">
    {{ngModel}}
  </div>
  <div ng-show="!ngModel" class="{{colClass.field}} form-label-text">
    -
  </div>
</div>