form {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  &.not-active{
    opacity: 0.5;
    cursor: not-allowed;
  }
    background-color: #efefef;
    position: relative;
    .form-label-text {
        line-height: 34px;
    }
}
.has-bottom-sticky {
  .form-footer {
    display: block;
  }
}
.form-footer{
    background: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    border-radius: 5px;
    z-index: 4;
}
.form-footer-button-save{
    height: 100%;
    width: 33.33%;
    position: static;
}
.form-footer-button-reset{
   height: 100%;
    width: 33.33%;
    position: absolute;
}

.form-footer-button-cancel{
    height: 100%;
    width: 33.33%;
    right:0;
    position: absolute;
}

.form-footer.ng-hide {
  opacity: 0;
}

.form-footer.ng-hide-remove,
.form-footer.ng-hide-add {
  display: block !important;
}

.form-footer.ng-hide-remove {
  transition: all linear 500ms;
}

.form-footer.ng-hide-add {
  transition: all linear 250ms;
}

.saving-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: .8;
    z-index: 5;
}

.saving-overlay.ng-hide {
  opacity: 0;
}

.saving-overlay.ng-hide-remove,
.saving-overlay.ng-hide-add {
  display: block !important;
}

.saving-overlay.ng-hide-remove {
  transition: all linear 500ms;
}

.saving-overlay.ng-hide-add {
  transition: all linear 250ms;
}

.saving-spinner{
    display: table;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
form {
  i {
    & .disabled{
        opacity: 0.4;
    }
  }
}
.layer-field {
  border: 1px transparent solid;
  border-radius: 4px;
  padding: 4px;
  background: white;
}
.layer-field.layer-error {
  border: 1px #a94442 solid !important;
  background-color: rgba(254, 0, 1, 0.2) !important; 
}

.has-error .form-control {
  background-color: rgba(254, 0, 1, 0.2) !important; 
}
